.wrapper, .container {
    display: flex;
    align-items:center;    
    flex-direction: column;
    background-color: black;
    size: 100vh;
}

h1 {
    font-family: 'Codystar', cursive;
    color: white;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

section {

    position: relative;
    height: 50vh;
    width: 30vw;
    border: solid;
    margin-top: 5vh;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    padding: 75px;
    border: solid;
    border-radius: 60px;
    border-color: gray;
    background-image: url(./assets/paul-hanaoka-URnWOJX8wW4-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}